@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-image: linear-gradient(to right, #FFE3E3, #F1C9C9);
}

img {
   width: 600px;
   border-radius: 10px;
}

main {
   background-color: white;
   width: 600px;
   padding: 10px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 5px 5px 15px #9a80806c;
}

h1 {
   color: #FCA311;
   text-align: center;
   text-shadow: 1px 1px 2px #98620a;
}

h2 {
   color: #623CEA;
}

p {
   text-align: justify;
}